<section id="contact" class="whitebackground">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vind ons!</h2>
                <hr class="primary">
                <ul class="soc">
                    <li><a class="soc-facebook"             target="_blank" href="https://www.facebook.com/LVSV.Antwerpen/"></a></li>
                    <li><a class="soc-twitter"              target="_blank" href="https://twitter.com/LVSVAntwerpen"></a></li>
                    <!-- <li><a class="soc-google"               target="_blank" href="#"></a></li> -->
                    <li><a class="soc-instagram"            target="_blank" href="https://www.instagram.com/lvsv.antwerpen/"></a></li>
                    <li><a class="soc-linkedin"             target="_blank" href="https://www.linkedin.com/company/10833720"></a></li>
                    <!-- <li><a class="soc-youtube"              target="_blank" href="#"></a></li> -->
                    <!-- <li><a class="soc-rss"                  target="_blank" href="#"></a></li> -->
                    <li><a class="soc-email2 soc-icon-last" target="_blank" href="mailto:voorzitter@lvsvantwerpen.be"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
